<ion-view title="農村社區特寫">
    <ion-content padding="false" class="has-header">
        <button class="button button-light button-block" style="height:30vh;"  ui-sref="{{top_section.link}}">
            {{top_section.title}}
        </button>
        <div class="button-bar" ng-repeat="theCommunity in communityList" ng-if="$index % 3 == 0">
            <button style="border-radius:0px 0px 0px 0px;height:20vh;" class="button button-stable" ui-sref="{{communityList[$index].link}}">
                {{communityList[$index].title}}
            </button>
            <button style="border-radius:0px 0px 0px 0px;height:20vh;" class="button button-stable" ui-sref="{{communityList[$index+1].link}}">
                {{communityList[$index+1].title}}
            </button>
            <button style="border-radius:0px 0px 0px 0px;height:20vh;" class="button button-stable" ui-sref="{{communityList[$index+2].link}}">
                {{communityList[$index+2].title}}
            </button>
        </div>
    </ion-content>
</ion-view>