<ion-view title="宜蘭整體形象" hide-back-button="true" id="impression">
    <ion-nav-buttons side="left" class="has-header">
        <button class="button button-icon icon ion-ios-arrow-back" ui-sref="page2"></button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <ion-list id="page3-list5">
            <ion-item id="page3-list-item18" ui-sref="page4">基本資訊</ion-item>
            <ion-item id="page3-list-item19" ui-sref="page5">交通方式</ion-item>
            <ion-item id="page3-list-item20" ui-sref="page6">代表故事</ion-item>
        </ion-list>
    </ion-content>
</ion-view>