<ion-view title="旅遊資訊">
	<ion-slides options="options" slider="" style="width:100%;height:94vh;" class="has-header">
      <ion-slide-page ng-repeat="item in itemList">
      	<ion-content style="padding: 14px;">
			<div ng-bind-html="item.title"></div>
			<div ng-bind-html="item.title_en"></div>
			<img ng-src="{{item.photo}}"/>
			<div ng-bind-html="item.content"></div>
			<div ng-bind-html="item.content_en"></div>

			<a href="#" onclick="window.open('{{item.youtube_link}}', '_system', 'location=yes');">
				測試連結youtube for 360VR
			</a>
			<!-- <iframe ng-show ='item.youtube_link != "#" ' ng-src="{{item.youtube_link | trustAsResourceUrl }}" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen onclick="window.open('{{item.youtube_link}}', '_system', 'location=yes'); return false;"></iframe> -->
		</ion-content>
      </ion-slide-page>
    </ion-slides>
</ion-view>