<ion-view class="launchpage" hide-nav-bar="true" scroll="false">
   	
   	<ion-slides options="options">
	    <ion-slide-page>
	    	<div class="box blue">
	    		<h1>畫面一</h1>
	    	</div>
	    </ion-slide-page>
	    <ion-slide-page>
	    	<div class="box yellow">
	    		<h1>畫面二</h1>
	    	</div>
	    </ion-slide-page>
	    <ion-slide-page>
	    	<div class="box pink">
	    		<h1>畫面三</h1>
	    	</div>
	    </ion-slide-page>
  	</ion-slides>
   
  	<button class="button button-clear button-dark button-block button-large" ng-click="nextPage()">
	  進入
	</button>	

</ion-view>