<ion-view title="launch" hide-nav-bar="true" id="launch">
  <ion-content padding="false">

    <ion-slides options="options" slider="" style="width:calc(100% + 20px);height:100vh;margin-left:-10px;">
      <ion-slide-page class="blue"></ion-slide-page>
      <ion-slide-page class="yellow"></ion-slide-page>
      <ion-slide-page class="pink"></ion-slide-page>
    </ion-slides>
    <button ui-sref="tabsController.subject" class="button button-clear button-positive button-block">進入</button>
  </ion-content>
</ion-view>