<ion-view title="launch" hide-nav-bar="true" class="launch">
  <ion-content padding="false" scroll="false">
  	<div ui-sref="tabsController.subject" class="enter-button"></div>
    <ion-slides options="options" slider="" style="width:calc(100% + 20px);height:100vh;margin-left:-10px;" ng-if="pics.length > 0">
      <ion-slide-page ng-repeat="photo in pics">
		<img ng-src="img/launch/{{photo}}" style="width:calc(100% + 20px);height:100vh;margin-left:-10px;object-fit: cover;">
      </ion-slide-page>      
    </ion-slides>
  </ion-content>
</ion-view>