
<ion-view  title="{{navigation_title}}" can-swipe-back="false">
  
  <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
          <!-- Toggle left side menu -->
          <button class="button button-icon icon ion-navicon" ng-click="toggleLeftSideMenu()"></button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header" style="background-image:url('img/sample_main.png');background-size: contain;background-repeat:no-repeat;margin:0px auto; background-color: #E3EBF4;">
  

  </ion-content>
   
    <div class="tabs tabs-icon-top">
    <a class="tab-item" ui-sref="basic">
      <i class="icon ion-map"></i>
      旅遊資訊
    </a>
    <a class="tab-item" ui-sref="feature">
      <i class="icon ion-ios-star-outline"></i>
      宜蘭旅遊特色
    </a>
    <a class="tab-item" ui-sref="story">
      <i class="icon ion-ios-bookmarks-outline"></i>
      在地故事
    </a>
    <a class="tab-item" ui-sref="feedback">
      <i class="icon ion-ios-chatboxes-outline"></i>
      反饋意見
    </a>
  </div>
</ion-view>