<ion-view title="景點類型" id="scene">
    <ion-content padding="true" class="has-header" scrollbar-y="false">
    <div ng-repeat="item in itemList">
      <div class="h3" style="margin: 16px;">{{item.subject}}</div>
      <ion-scroll direction="x" scrollbar-x="false" class="wide-as-needed">
        <a class="button button-clear"  
            ng-repeat="content in item.list" 
            ng-click="doDetail('{{content.id}}')"
            style="min-width: 144px; max-width:144px;">
            <div class="list">
              <div class="image icon ion-image" style="min-height:120px; margin:5px; box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);">
                
              </div>
              <small class="item" style="border-width:0px; line-height: 1.5em; padding:0px;" ng-bind-html="content.title">
              </small>
            </div>
        </a>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>