<ion-view title="{{title}}">
  <ion-slides options="options" slider="" style="width:100%;height:94vh;" class="has-header" lazy-scroll>
      <ion-slide-page ng-repeat="item in itemList">
      	<ion-content style="padding: 14px;" lazy-scroll>
			<div ng-bind-html="item.title"></div>


			<ion-audio-track track="track">
	            <ion-audio-controls>
                    <a class="button button-icon icon" ion-audio-play></a>
                    <ion-spinner icon="ios"></ion-spinner>
	        	</ion-audio-controls>
	      	</ion-audio-track>


			<div ng-bind-html="item.content"></div>
			<img ng-repeat="photo in item.photo" image-lazy-src="{{photo}}" image-lazy-loader="lines" style="width: 100%">

			<iframe ng-show ='item.google_map' ng-src="{{item.google_map | trustAsResourceUrl }}" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		</ion-content>
      </ion-slide-page>
    </ion-slides>
</ion-view>