<ion-view title="scene" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="scene-heading3" style="color:#000000;">Heading</h1>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="scene-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
  </ion-content>
</ion-view>