<ion-view title="scene_detail" id="page10">
  <ion-slides options="options" slider="" style="width:100%;height:94vh;" class="has-header">
      <ion-slide-page>
      	<ion-content style="padding: 14px;">
			<h2>故事1</h2>
			<p>上萬人一起聚集在新竹市區，這是今年的動物嘉年華活動現場，來自全台的小朋友們以鳥類為主題盛裝打扮，連市長都一起加入跳舞，就是要實際參與這堂生命教育的課外活動。
熱鬧的隊伍綿延好幾百公尺，盛裝打扮呼口號，熱情森巴打擊樂，都是在表達對於生態的支持，珍古德博士也來到現場與大家分享她的喜悅，相當肯定今年的動物嘉年華，更表示以後有機會一定會再來新竹，與大家分享愛護生態的議題。
近年來動物嘉年華成為新竹市的年度一大盛事，熱情的民眾，精彩的遊行隊伍嗨翻整個市區，藉由整個活動宣導愛惜生命珍惜自然資源，期望讓大家更加的關注生態議題，一起守護大家的家園。上萬人一起聚集在新竹市區，這是今年的動物嘉年華活動現場，來自全台的小朋友們以鳥類為主題盛裝打扮，連市長都一起加入跳舞，就是要實際參與這堂生命教育的課外活動。
熱鬧的隊伍綿延好幾百公尺，盛裝打扮呼口號，熱情森巴打擊樂，都是在表達對於生態的支持，珍古德博士也來到現場與大家分享她的喜悅，相當肯定今年的動物嘉年華，更表示以後有機會一定會再來新竹，與大家分享愛護生態的議題。
近年來動物嘉年華成為新竹市的年度一大盛事，熱情的民眾，精彩的遊行隊伍嗨翻整個市區，藉由整個活動宣導愛惜生命珍惜自然資源，期望讓大家更加的關注生態議題，一起守護大家的家園。上萬人一起聚集在新竹市區，這是今年的動物嘉年華活動現場，來自全台的小朋友們以鳥類為主題盛裝打扮，連市長都一起加入跳舞，就是要實際參與這堂生命教育的課外活動。
熱鬧的隊伍綿延好幾百公尺，盛裝打扮呼口號，熱情森巴打擊樂，都是在表達對於生態的支持，珍古德博士也來到現場與大家分享她的喜悅，相當肯定今年的動物嘉年華，更表示以後有機會一定會再來新竹，與大家分享愛護生態的議題。
近年來動物嘉年華成為新竹市的年度一大盛事，熱情的民眾，精彩的遊行隊伍嗨翻整個市區，藉由整個活動宣導愛惜生命珍惜自然資源，期望讓大家更加的關注生態議題，一起守護大家的家園。</p>
			<div class="full-image">  
				<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
			</div>
		</ion-content>
      </ion-slide-page>
      <ion-slide-page>
      	<ion-content style="padding: 14px;">
			<h2>故事2</h2>
			<p>上萬人一起聚集在新竹市區，這是今年的動物嘉年華活動現場，來自全台的小朋友們以鳥類為主題盛裝打扮，連市長都一起加入跳舞，就是要實際參與這堂生命教育的課外活動。
熱鬧的隊伍綿延好幾百公尺，盛裝打扮呼口號，熱情森巴打擊樂，都是在表達對於生態的支持，珍古德博士也來到現場與大家分享她的喜悅，相當肯定今年的動物嘉年華，更表示以後有機會一定會再來新竹，與大家分享愛護生態的議題。
近年來動物嘉年華成為新竹市的年度一大盛事，熱情的民眾，精彩的遊行隊伍嗨翻整個市區，藉由整個活動宣導愛惜生命珍惜自然資源，期望讓大家更加的關注生態議題，一起守護大家的家園。</p>
			<div class="full-image"> 
				<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
			</div>
		</ion-content>
      </ion-slide-page>
      <ion-slide-page>
      	<ion-content style="padding: 14px;">
			<h2>故事3</h2>
			<p>上萬人一起聚集在新竹市區，這是今年的動物嘉年華活動現場，來自全台的小朋友們以鳥類為主題盛裝打扮，連市長都一起加入跳舞，就是要實際參與這堂生命教育的課外活動。
熱鬧的隊伍綿延好幾百公尺，盛裝打扮呼口號，熱情森巴打擊樂，都是在表達對於生態的支持，珍古德博士也來到現場與大家分享她的喜悅，相當肯定今年的動物嘉年華，更表示以後有機會一定會再來新竹，與大家分享愛護生態的議題。
近年來動物嘉年華成為新竹市的年度一大盛事，熱情的民眾，精彩的遊行隊伍嗨翻整個市區，藉由整個活動宣導愛惜生命珍惜自然資源，期望讓大家更加的關注生態議題，一起守護大家的家園。</p>
			<div class="full-image"> 
				<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
			</div>
		</ion-content>
      </ion-slide-page>
    </ion-slides>
</ion-view>