<ion-view  title="{{navigation_title}}" can-swipe-back="false">

    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <!-- Toggle left side menu -->
            <button class="button button-icon icon ion-navicon" ng-click="toggleLeftSideMenu()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <!-- <h2>{{navigation_title}}</h2> -->
        <div class="list card" ng-repeat="theItem in itemList">

          <div class="item item-image">
             <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;line-height: 30vh;" ></i>
          </div>
          <div class="item item-icon-left">
            {{theItem.description}}
          </div>

        </div>
    </ion-content>
     


</ion-view>