<ion-view title="景點介紹" id="scene">
    <ion-content padding="true" class="has-header">
    <h3>體驗類</h3>
    <ion-scroll direction="x" class="wide-as-needed" style="line-height:40vh;">
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
       <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
    </ion-scroll>
   

    <h3>住宿類</h3>
    <ion-scroll direction="x" class="wide-as-needed" style="line-height:40vh;">
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
       <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
    </ion-scroll>

    <h3>餐飲類</h3>
    <ion-scroll direction="x" class="wide-as-needed" style="line-height:40vh;">
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
       <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
    </ion-scroll>

    <h3>達人類</h3>
    <ion-scroll direction="x" class="wide-as-needed" style="line-height:40vh;">
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
       <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
    </ion-scroll>
  </ion-content>
</ion-view>