<ion-view title="主題路線" id="subject">
  <ion-content padding="true" class="has-header">
    <h3>茶路線</h3>
    <ion-scroll direction="x" class="wide-as-needed" style="line-height:40vh;">
        <a class="button button-clear" ui-sref="scene_detail">
           <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
       <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
    </ion-scroll>
   

    <h3>米路線</h3>
    <ion-scroll direction="x" class="wide-as-needed" style="line-height:40vh;">
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
       <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
    </ion-scroll>

    <h3>原住民</h3>
    <ion-scroll direction="x" class="wide-as-needed" style="line-height:40vh;">
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
       <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
        <a class="button button-clear" ui-sref="scene_detail">
          <div class="list card">
            <div class="image">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body">
              <strong>title</strong>
            </div>
          </div>
        </a>
    </ion-scroll>
  </ion-content>
</ion-view>