<ion-view title="主題路線" class="subject">
  <ion-content padding="true" class="has-header" scrollbar-y="false" lazy-scroll>
    <div ng-repeat="category in categoryList">
      <div class="title-block">
        <div class="main-title">
          {{category.title}}
          <div class="right">
            <img class="title-bar" src="img/bar.png"/>
            <img class="title-oval" src="img/oval.png"/>
          </div>
        </div>
        <div class="sub-title"><small>{{category.title_en}}</small></div>
      </div>
      <ion-scroll direction="x" scrollbar-x="false" class="wide-as-needed" lazy-scroll>
        <a class="button button-clear scene-button"
            ng-repeat="scene in category.list" 
            ng-click="doDetail('{{scene.id}}')"
            style="min-width: 55vw; max-width:55vw;">
            <div class="list">
              <div class="item item-image">
                <img image-lazy-src="{{scene.photo}}" image-lazy-loader="lines">
              </div>
              <small class="item scene-title" ng-bind-html="scene.title"></small>
              <small class="item scene-title en" ng-bind-html="scene.title_en"></small>
            </div>
        </a>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>