<ion-view>
  <ion-tabs class="tabs-stable tabs-icon-top">
    <ion-tab title="主題路線" icon-off="ion-map" icon-on="ion-android-map" href="#/Ctab/tab1" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="基本資訊" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/Ctab/tab2" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="宜蘭特色" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/Ctab/tab3" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="在地故事" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/Ctab/tab4" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="景點類型" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/Ctab/tab5" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>