/* Empty. Add your own CSS if you like */
.align-bottom{
	position: absolute;
	bottom: 70px;
}


/*.menu-list ion-item{
	height:24vh;
}*/

/*.menu-list ion-item span{
	font-size: 32px;
	font-weight: 600;
	padding: 10px;
}
*/