/* Empty. Add your own CSS if you like */


body{
  font-size: 16px;
  line-height: 28px;
}



.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
  line-height:220px;
}


#launch button{
	position: absolute;
	bottom:1.5em;
	z-index: 10;
	color: #FFFFFF;
}

.circle {
	border-radius: 50%;
}


#subject  .card .image , #scene .card .image {
	margin: 0;
	line-height: 120px;
	background-color: rgb(232, 235, 239);
	text-align: center;
	width:100%;

}



.launch .enter-button {
	background-image: url(../img/enter_button.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 40%;
    left: 28%;
    z-index: 9999;
}




.info .title-block img{
  width: 100vw;
}


.info .title-block .main-title h1{
	display: inline-block;
}

.info .title-block .main-title .rectangle-path{
	display: inline-block;
    width: 20%;
}

.info .title-block .sub-title h3 {
	font-weight: 200;
}

.info .content-block {
	padding: 3% 5%;
	background-color: #FFFFFF;
}


.info .float-block {
	position: absolute;
    right: 3vw;
    top: 86vw;
    width: 15vw;
    height: auto;
}


.feature .title-block img {
  width: 100vw;

}

.feature .content-block {
  padding: 3% 5%;
  background-color: #FFFFFF;
}


.story .content-block {
  padding: 3% 5%;
  background-color: #FFFFFF;
}
